doctype html 
html
  head
    title This is Dance Website
    block scripts
    block style 
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/img/logoimg.webp")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") services]
            li #[a(href="/contact") contact us]
            li #[a(href="/") class info]
    block content
    footer#footer 
        | copyright &copy  www.HarryDanceAcademy.com | All Rights Reserved